*{
  padding: 0px;
  margin: 0px;
}
.container{
  padding-top: 60px;
  border: 1px solid red;
  max-width: 360px;
  height: 55vh;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h1{
  margin-top: 40px;
  font-size: 60px;
  color:green;
}
button{
  /* border: 1px solid red; */
  padding:8px 10px;
  margin: 10px 30px;
  border-radius: 15px;
}
span{
  margin-top: 20px;
  text-align: start;
  margin-left: 5px ;
}
h3{
  margin-top: 20px;
  margin-left: 20px;
  text-align: start;
  font-size: 40px;
  color:rgba(227, 82, 82, 0.934);
}
